@font-face {
  font-family: 'Chakra Petch';
  src: url("https://fonts.googleapis.com/css2?family=Chakra+Petch") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #3f3f3f;
  color: white;
  font-family: 'Chakra Petch', 'Times New Roman';
}
button {
  border-width: 2px;
  border-style: solid; 
  border-color: #7f7f7f;
  border-radius: 2px;
  background-color: white;
  color: black;
  cursor: pointer;
}
a {
  color: #007fff;
  text-decoration: wavy;
}