@font-face {
  font-family: 'Chakra Petch';
  src: url("ChakraPetch.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #3f3f3f;
  color: white;
  font-family: 'Chakra Petch', 'Times New Roman';
}
button {
  border-width: 2px;
  border-style: solid; 
  border-color: #7f7f7f;
  border-radius: 2px;
  background-color: white;
  color: black;
  cursor: pointer;
}
a {
  text-decoration: wavy underline;
}
a:link {
  color: #007fff;
}
a:visited {
  color: #00ff7f;
}
a:hover {
  color: #00ffff;
}